<style type="text/css">

.dummy{}

.lendingsContainer{
    width:100%;
    float:left;
}

.lendingsLeftCol{
    width:70%;
}

.lendingsRightCol{
    width:30%;
}

.contentColumn{    
    float:left;
    text-align:left;
}


.label{
    font-size:1.0em;
    font-weight:bold;
    padding-left:10px;
    padding-bottom:4px; 
}
.inhalt{
    font-size:1.4em;
    line-height:1.4em;
}

.memberimage{
    float:right;
}

.logoblock{
    float:left;
    height:350px;
    width:auto;
    position:relative;
}

.logoimage{
}

.pfandimage{
    position:absolute;
    bottom:0;
    padding-bottom:8px;
}

.jwts_tabbertab{
    height:350px;
}


</style>