<style type="text/css">

.dummy{}

.memberfiles_h1{
    font-size:2.3em;
    font-weight:bold;
	vertical-align:middle;
	padding-top:20px;
}

.lendingsContainer{
    width:100%;
    float:left;
}

.lendingsLeftCol{
    width:70%;
}

.lendingsRightCol{
    width:30%;
}

.contentColumn{    
    float:left;
    text-align:left;
	width:50%;
}

.member_label{
    font-size:1.0em;
    font-weight:bold;
    padding-left:10px;
    padding-bottom:4px; 
	color:#888;
	background:transparent;
}
.inhalt{
    font-size:1.4em;
    line-height:1.4em;
	color:black;
	background:transparent;
}

.memberimage{
    float:right;
}

.logoblock{
    float:left;
    height:350px;
    width:auto;
    position:relative;
}

.logoimage{
}

.pfandimage{
    position:absolute;
    bottom:0;
    padding-bottom:8px;
}

.jwts_tabbertab{
    height:350px;
}


</style>