<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset   name        = "component"
                label       = "COM_JSCHUETZE_FIELDSET_CONFIG_CLIENT_OPTIONS_LABEL"
                description = "COM_JSCHUETZE_FIELDSET_CONFIG_CLIENT_OPTIONS_LABEL_DESC">

        <field  id          = "logo_path"
                name        = "logo_path"
                type        = "media"
                label       = "COM_JSCHUETZE_FIELD_LOGOPATH_LABEL"
                description = "COM_JSCHUETZE_FIELD_LOGOPATH_LABEL_DESC"
                default     = ""
                size        = "60">
        </field>

        <field  id          = "noimage_path"
                name        = "noimage_path"
                type        = "media"
                label       = "COM_JSCHUETZE_FIELD_NOIMAGEPATH_LABEL"
                description = "COM_JSCHUETZE_FIELD_NOIMAGEPATH_LABEL_DESC"
                default     = ""
                size        = "60">
        </field>

    </fieldset>
</config>
